<div class="main_header">
  <div class="left-header">
    <div class="chat_title">
      hogefuga
    </div>
  </div>
  <div class="right_header">
    <div class="chat_end">
      <a href="#">チャットを終了</a>
    </div>
  </div>
</div>
  
<div class="main_messages">
  <div class="message">
    <div class="name_date">
      <div class="user_name">Tom</div>
      <div class="date">2020/3/31(wed) 12:43:30</div>
    </div>
    <div class="text">Hello</div>
  </div>
  <div class="message">
    <div class="name_date">
      <div class="user_name">Tom</div>
      <div class="date">2020/3/31(wed) 12:43:30</div>
    </div>
    <div class="text">Hello</div>
  </div>
</div>
<div class="main_form">
  <div class="form_set">
    <input class="form_input" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input type="submit" value="送信" class="send_btn">
</div>